<!DOCTYPE html>
<html>
	<head>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ asset('dist/output.css') }}" />
  <link rel="shortcut icon" href="../images/logo/emma-pierre-logo-blanc.png" />
  <title>Admin</title>
	</head>
	<body>
  <div class="mx-4 lg:mx-[200px] md:mx-[100px] mb-36" id="navbar">{% include 'navbar.html.twig' %}</div>
<h1 class="text-center">Tableau de bord Admin</h1>
	<a href="formAjout" class="block text-center mt-10 mb-10 p-10 text-blue-700 bg-yellow-300 no-underline rounded-full w-60 cursor-pointer transition duration-300 ease-in-out transform hover:border-2 border-blue-700 hover:border-white hover:bg-white">Ajout</a>
  
	 <script src="{{asset('lang/language.js')}}"></script>
  <script src="node_modules/@flowbite/flowbite/dist/flowbite.js"></script>
	</body>
</html>