<div class="mt-1 mb-10 ">
    <!----------------------------------------- Navbar Dekstop -------------------------- -->
    <nav
      class="fixed w-full top-0 right-0 z-50 flex items-center justify-around bg-nude-100 py-4 border-b border-transparent transition-all duration-450 z-1">
      <a href="/"><img class="flex-none w-[69px]" src="../images/logo/logo_emma_pierre.png" href="/"
          alt="Logo" /></a>
      <div class="md:flex hidden items-center mt-1">
        <a href="/" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md"
          data-translate="home">

        </a>
        <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
        <div class="dropdown px-3 text-blue-100">
          <label tabindex="0" class="btn m-1 hover:text-corail-100" data-translate="menu.product"></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 rounded-lg">
            <li><a class="hover:text-corail-100" href="/recupererBijoux" data-translate="text.home.rock.precious"></a>
            </li>
            <li><a class="hover:text-corail-100" href="/impertinentes" data-translate="text.home.rock.sassy"></a>
            </li>
            <li><a class="hover:text-corail-100" href="/unique" data-translate="text.home.rock.unique"></a></li>
            <li><a class="hover:text-corail-100" href="/recupererCouleur" data-translate="text.home.rock.color"></a></li>
          </ul>
        </div>
        <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
        <a href="/presentation" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md"
          data-translate="menu.presentation"></a>
        <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
        <a href="/contact" data-translate="menu.contact" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md"></a>
        <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
        <a href="/blog" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md"
          data-translate="menu.blog">

        </a>

    <span class="w-[1px] h-[13px] border-l border-blue-100"> </span>
            {% if isUserLoggedIn %}
              <a href="/logout" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md">Déconnexion</a>
              {% else %}
            <a href="/login" data-translate="menu.connexion" class="text-blue-100 block hover:text-corail-100 px-3 py-2 rounded-md"> </a>
              {% endif %}
      </div>
      
      <div class="flex gap-2 items-center">

        <!-- valise -->
        <a href="/panier">
          <svg class="w-[30px] rounded-full bg-blue-300 fill-current text-nude-100 p-[3px]" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.0001 1.34999C9.02423 1.34999 8.09337 1.75221 7.41084 2.46003C6.72908 3.16704 6.35006 4.12107 6.35006 5.1111V6.35001H5.36988C4.25789 6.35001 3.32938 7.19794 3.22871 8.30536L2.50144 16.3054C2.38697 17.5644 3.37834 18.65 4.64261 18.65H15.3575C16.6218 18.65 17.6131 17.5644 17.4987 16.3054L16.7714 8.30535C16.6707 7.19793 15.7422 6.35001 14.6302 6.35001H13.6501V5.1111C13.6501 4.12107 13.271 3.16704 12.5893 2.46003C11.9067 1.75221 10.9759 1.34999 10.0001 1.34999ZM12.3501 7.65001V8.99999C12.3501 9.35898 12.6411 9.64999 13.0001 9.64999C13.359 9.64999 13.6501 9.35898 13.6501 8.99999V7.65001H14.6302C15.0699 7.65001 15.4369 7.98523 15.4767 8.42305L16.204 16.423C16.2493 16.9208 15.8573 17.35 15.3575 17.35H4.64261C4.14278 17.35 3.75085 16.9208 3.7961 16.423L4.52337 8.42305C4.56317 7.98523 4.93026 7.65001 5.36988 7.65001H6.35006V8.99999C6.35006 9.35898 6.64107 9.64999 7.00006 9.64999C7.35904 9.64999 7.65006 9.35898 7.65006 8.99999V7.65001H12.3501ZM12.3501 6.35001V5.1111C12.3501 4.4509 12.0969 3.82229 11.6535 3.3624C11.2108 2.90332 10.6155 2.64999 10.0001 2.64999C9.38458 2.64999 8.78932 2.90332 8.34664 3.3624C7.90318 3.82229 7.65006 4.4509 7.65006 5.1111V6.35001H12.3501Z" />
          </svg>
        </a>

        <!-- planet language -->
        <div class="dropdown">
          <svg class="w-[30px] rounded-full bg-blue-300 fill-current text-nude-100 p-[3px] cursor-pointer"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10 1.75C5.44365 1.75 1.75 5.44365 1.75 10C1.75 14.5563 5.44365 18.25 10 18.25C14.5563 18.25 18.25 14.5563 18.25 10C18.25 5.44365 14.5563 1.75 10 1.75ZM9.89076 3.25087C9.9271 3.25029 9.96352 3.25 10 3.25C10.0365 3.25 10.0729 3.25029 10.1092 3.25087C10.7597 4.37955 11.2412 5.59218 11.5427 6.85H8.45735C8.75878 5.59218 9.24029 4.37955 9.89076 3.25087ZM11.6957 3.46477C12.2256 4.54304 12.6216 5.67997 12.8761 6.85H15.9715C15.0956 5.19307 13.5503 3.94462 11.6957 3.46477ZM16.4933 8.15H13.0989C13.1759 8.76157 13.2148 9.37939 13.2148 10C13.2148 10.6206 13.1759 11.2384 13.0989 11.85H16.4933C16.6605 11.2621 16.75 10.6415 16.75 10C16.75 9.3585 16.6605 8.7379 16.4933 8.15ZM15.9715 13.15H12.8761C12.6216 14.32 12.2256 15.457 11.6957 16.5352C13.5503 16.0554 15.0956 14.8069 15.9715 13.15ZM10.1093 16.7491C10.0729 16.7497 10.0365 16.75 10 16.75C9.96352 16.75 9.9271 16.7497 9.89076 16.7491C9.24029 15.6205 8.75878 14.4078 8.45735 13.15H11.5427C11.2412 14.4078 10.7597 15.6205 10.1093 16.7491ZM8.3043 16.5352C6.4497 16.0554 4.9044 14.8069 4.02854 13.15H7.12389C7.37846 14.32 7.77437 15.457 8.3043 16.5352ZM3.50666 11.85H6.90112C6.82415 11.2384 6.78518 10.6206 6.78518 10C6.78518 9.37939 6.82415 8.76157 6.90112 8.15H3.50666C3.33949 8.7379 3.25 9.3585 3.25 10C3.25 10.6415 3.33949 11.2621 3.50666 11.85ZM4.02854 6.85H7.12389C7.37846 5.67997 7.77437 4.54303 8.3043 3.46477C6.4497 3.94461 4.9044 5.19307 4.02854 6.85ZM8.08518 10C8.08518 9.37888 8.12797 8.76083 8.21237 8.15H11.7876C11.872 8.76083 11.9148 9.37888 11.9148 10C11.9148 10.6211 11.872 11.2392 11.7876 11.85H8.21237C8.12797 11.2392 8.08518 10.6211 8.08518 10Z" />
          </svg>
          <div class="dropdown-content rounded-lg">
            <p id="language-en"
              class="cursor-pointer px-4 py-1 hover:bg-blue-100 hover:text-nude-100 hover:transition-all rounded-t-lg">
              English
            </p>
            <p id="language-fr"
              class="cursor-pointer px-4 py-1 hover:bg-blue-100 hover:text-nude-100 hover:transition-all rounded-b-lg">
              Français
            </p>
          </div>
        </div>
      </div>

      <!----------------------------------------- Navbar Mobile ------------------------- -->
      <div class="md:hidden">
        <!-- burger menu -->
        <svg id="burger-menu" class="w-[30px] fill-current text-blue-300 cursor-pointer"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
        </svg>

        <!-- Liens du menu -->
        <div id="mobile-menu" class="absolute left-0 w-full bg-blue-100 p-4 text-center mt-3">
          <a href="/" class="text-nude-100 hover:text-corail-100 block px-3 py-2 rounded-md">Accueil</a>
          <div class="dropdown px-3 text-nude-100">
            <label tabindex="0" class="btn m-1 hover:text-corail-100">Produits</label>
            <ul tabindex="0"
              class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 rounded-lg text-blue-100">
              <li><a class="hover:text-corail-100" href="/recupererBijoux">Précieuses</a></li>
              <li><a class="hover:text-corail-100" href="/impertinentes">impertinentes</a></li>
              <li><a class="hover:text-corail-100" href="/unique">Unique</a></li>
            
              <li><a class="hover:text-corail-100" href="/recupererCouleur">Couleur</a></li>
            </ul>
          </div>
          <a href="/presentation"
            class="text-nude-100 hover:text-corail-100 block px-3 py-2 rounded-md">Presentation</a>
          <a href="/contact" class="text-nude-100 hover:text-corail-100 block px-3 py-2 rounded-md">Contact</a>
          <a href="/blog" class="text-nude-100 hover:text-corail-100 block px-3 py-2 rounded-md">
            Blog
          </a>

            {% if isUserLoggedIn %}
              <a href="/logout" class="text-nude-100 hover:text-corail-100 block px-3 py-2 rounded-md">Déconnexion</a>
              {% else %}
              <a href="/login" data-translate="menu.connexion" class="text-nude-100 hover:text-corail-100 block px-3 py-2 rounded-md">
            
              </a>
              {% endif %}
          
        </div>
      </div>
    </nav>
  </div>
  <script>
    const btn = document.querySelector("#burger-menu");
    const menu = document.querySelector("#mobile-menu");

    // Add the "hidden" class to the menu element by default
    menu.classList.add("hidden");

    btn.addEventListener("click", () => {
      const expanded = btn.getAttribute("aria-expanded") === "true" || false;
      btn.setAttribute("aria-expanded", !expanded);
      menu.classList.toggle("hidden");
    });
  </script>